@media screen and (min-width: 768px) {
  .navbar {
    flex-direction: row;
    justify-content: space-between;
  }

  .nav-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    height: 100%;
    position: relative;
    background-color: transparent;
    z-index: 20;
    padding: 0 1rem;
  }

  .nav-links li {
    padding: 0.5rem;
    margin: 0.8rem 1rem;
  }

  .nav-links li a {
    font-size: 1.7rem;
  }

  .burger {
    display: none;
  }

  .desc h1 {
    font-size: 4rem;
  }

  .desc p {
    font-size: 1.8rem;
  }
  .projects {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .projects div {
    margin: 5rem;
  }

  #contact form {
    width: 60vw;
  }
}
