* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0.5rem 0 2rem 0;
}

h2 {
  font-size: 3rem;
  font-weight: 300;
  margin: 2rem 0 1rem 0;
  color: rgb(255, 187, 41);
}

header {
  min-height: 100vh;
  width: 100vw;
  background: url("../img/cover2.jpg") center center/cover no-repeat;
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 8vh;
  width: 100vw;
  color: #fff;
  position: fixed;
}

.brand-title {
  align-self: flex-start;
  padding: 0.5rem;
  margin: 0.8rem 1rem;
  font-size: 1.7rem;
}

.nav-links {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  text-align: center;
  transform: translateX(0%);
  display: none;
  position: absolute;
  background-color: rgb(34, 34, 34);
  z-index: 20;
  padding-top: 9rem;
}

.nav-links li {
  list-style: none;
  padding: 2rem;
}

.nav-links li a {
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
}

.nav-links li a:hover {
  color: rgb(255, 187, 41);
}

.burger {
  display: inline-block;
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 30;
}

.burger div {
  width: 35px;
  height: 5px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
}

.active .line1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

/* Fade out the second bar */
.active .line2 {
  opacity: 0;
}

/* Rotate last bar */
.active .line3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-9px, -7px);
}

a {
  text-decoration: none;
  color: #fff;
}

#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 92vh;
  width: 100vw;
  color: #fff;
}

.lead {
  margin: 1rem 0;
}

.desc {
  margin: 1rem 0;
}

.desc h1 {
  font-size: 2.5rem;
  margin: 0.5rem 0;
}

.desc p {
  font-size: 1.2rem;
}

.descbtns {
  margin: 3rem 0;
}

.descbtns a {
  padding: 0.8rem;
  margin: 3rem 1rem;
  background-color: rgba(255, 187, 41, 0.753);
  border-radius: 5px;
}

a i {
  color: rgb(255, 187, 41);
}

.active {
  display: block;
}

.nav-active {
  background-color: rgba(0, 0, 0, 0.4);
}

#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
  min-height: 100vh;
  width: 90vw;
  max-width: 1300px;
  margin: 0 auto;
}

.lead {
  margin: 0 1rem;
}

.left h4 {
  font-size: 1.7rem;
  font-weight: 400;
  margin: 0.8rem 0;
}

.left p {
  font-size: 1.2rem;
  text-align: justify;
}

.right {
  margin: 2rem 0 3rem 0;
}

.right h4 {
  font-size: 1.7rem;
  font-weight: 400;
  margin: 0.8rem 0;
}

.right ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.right li {
  padding: 1rem;
  margin: 0.5rem;
  list-style: none;
  background-color: rgba(221, 221, 221, 0.568);
  font-size: 1rem;
}

#work {
  min-height: 100vh;
  width: 90vw;
  margin: 0 auto;
  text-align: center;
  padding-top: 3rem;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vw;
  margin: 0 auto;
}

.projects img {
  margin: 2rem 0 1rem 0;
  width: 350px;
  height: 300px;
  border-radius: 15px;
}

.projects h4 {
  font-size: 1.5rem;

  color: #000;
}

#contact {
  min-height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  text-align: center;
}

#contact h2 {
  padding-top: 5rem;
}

#contact form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 70vh;
  width: 80vw;
  margin: 0 auto;
}

#contact label {
  align-self: flex-start;
  margin: 1rem;
}

#contact input {
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: 15px;
  background-color: rgba(65, 63, 63, 0.671);
  color: #fff;
  font-size: 1.3rem;
  padding: 1rem 2rem;
}

#contact textarea {
  width: 100%;
  margin: 0 0 2rem 0;
  border: none;
  border-radius: 15px;
  background-color: rgba(65, 63, 63, 0.671);
  resize: none;
  color: #fff;
  font-size: 1.3rem;
  padding: 1rem 2rem;
}

#contact button[type="submit"] {
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: 15px;
  font-size: 1.3rem;
  padding: 1rem 2rem;
  background-color: rgb(255, 187, 41);
  color: #fff;
  cursor: pointer;
}

#copy {
  padding: 2rem 0;
}
